
<div style="background-color:#FFD700;height:350px;width:200px;float:left;">

<b><%= link_to 'New Student ',:controller=> :cstudents, :action=> :newstudent%></b> 



</div>

<div style="background-color:#FFD709;height:350px;width:200px;float:left;">
<b><%= link_to 'list student',:controller=> :cstudents, :action=> :liststudent%></b> 

</div>